ol  {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}
.note{
 
  font-size: 20px;
}
#id-selector-demo{

  color: rgb(4, 255, 0);
}
p{
  color: rgb(255, 0, 0);
}
li[value="4"]{
    color: rgb(13, 0, 255);
}
*{
  text-align: center;
}
/* Write your CSS below, don't change the rules above. */
